---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.tagline {
  font-style: italic;
  color: gray;
}


.footer-col-4 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}
